h1 { font: size 80px; color:darkred; text-align: right;font-style: arial;}
h2 { font: size 50px; color:purple; text-align: right;font-style: algerian;}
p { font: size 10px; color:blue; text-align: center;font-style: arial; font:italic ;}