h1 { 
    color:yellow; 
    font-size:  80px;  
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style:italic;
}
h2 { 
    color:blue; 
    font-size:  50px;  
    text-align: right;
    font-family: "algerian";
    font-style: italic;
}
p { font: size 10px; color:black; text-align: center;font-style: arial;}